// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ิbody {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left:  10px;
}
